<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
    </ul>
    <div class="user-table">
        <h2>List Users</h2>
        <hr>
        <table>
            <tr>
                <th>ID</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>CITY</th>
                <th>ACTION</th>
            </tr>
            <% listUser.forEach(function(user, index) { %>
                <tr>
                    <td>
                        <%= index+1 %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <button><a class="nondec" href="/update/<%=user.id%>">edit</a></button>
                        <button>delete</button>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>